
@{
    ViewData["Title"] = "Cliente";
}

@model List<EsteticaPorDoSol.Models.Cliente>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-warning">@TempData["Mensagem"]</div>
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}


<h2>Lista de Clientes</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>

        <th>Acoes</th>
    </tr>
    @foreach (var cliente in Model)
    {
        <tr>
            <td>@cliente.idCliente</td>
            <td>@cliente.dsNome</td>
            <td>@cliente.nrTelefone</td>

            <td>
                <a asp-controller="Cliente" asp-action="Editar" asp-route-id="@cliente.idCliente" class="btn btn-warning">Editar</a>
				<a asp-controller="Cliente" asp-action="Excluir" asp-route-id="@cliente.idCliente" class="btn btn-danger"
                onclick="return confirm('Tem certeza que deseja excluir esse cliente?')">Excluir</a>
            </td>
        </tr>
    }
    
</table>
<a asp-controller="Cliente" asp-action="CadastrarCliente" class="btn btn-secondary">Adicionar cliente</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>